.login-card{
    width: 433px;
    height: 530px;
}

.full-width {
    width: 100%;
}

.p-10{
    padding: 30px;
}

.btn-second{
    background-color: #1973B8;
    color: white;
}

.title-login{
    color: #1973B8;
    width: 100%;
    text-align: center;
}